<h1>Bonjour</h1>

<p>Merci de vous être inscrit sur SnowTricks</p>

<p>Nous espérons que vous apprécierez passer du temps sur notre site à découvrir de nouvelles figures.</p>

<p>N'hésitez à discuter avec les autres utilisateurs dans l'espace commentaires !</p>

<p>Cordialement</p>
