{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}

    {{ form_start(resetForm) }}
        <h1 class="form-title">Réinitialisation du mot de passe</h1>
        {{ form_row(resetForm.plainPassword) }}
        <button class="form-submit btn btn-primary">Envoyer</button>
    {{ form_end(resetForm) }}
{% endblock %}
