.trick-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.trick-header {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trick-thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
}

.trick-options {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    gap: 1rem;
}

.trick-option-item {
    text-decoration: none;
}

.edit-trick {
    color: green;
}

.delete-trick {
    color: red;
}

.trick-title {
    color: #546A7B;
    font-size: 4rem;
    text-align: center;
    z-index: 1;
}

.trick-separator {
    border: solid 1px #546A7B;
    margin: 2rem 0;
    width: 100%;
}

.trick-body {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 0 10rem;
    align-items: center;
}

.trick-media-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.trick-media-item {
    width: 100%;
}
.trick-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 10rem;
}

.trick-content-main-informations {

}

.trick-content-main-informations-item {
    text-align: center;
}

.trick-content-secondary-informations {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.trick-content-secondary-informations-item {
    border: solid 2px #546A7B;
    border-radius: 7px;
    padding: 0.5rem 1rem;
}

.add-comment > form {
    display: flex;
    gap: 1rem;
}

#comment input {
    padding: 0.5rem 1rem;
}

#btn-add-comment {
    background: none;
    box-shadow: 3px 3px 3px black;
    padding: 0.5rem 1rem;
}

.trick-comments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.trick-comment-item {
    display: flex;
    width: 600px;
    gap: 2rem;
}


.trick-comment-user-image {
    width: 100px;
    object-fit: contain;
}

.trick-comment-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.trick-comment-content > p{
    margin: 0;
}

.trick-comment-author {
    align-self: self-start;
}

.trick-comment-message {
    padding: 1rem;
    margin: 5px !important;
    border: solid 2px #546A7B;
}

.trick-comment-date {
    align-self: self-end;
}
