<footer>
    <p class="footer-item">Copyright &copy;</p>
    <p class="footer-item footer-item-separator">-</p>
    <p class="footer-item">Site réalisé par Dorian Feschaud</p>
    <p class="footer-item footer-item-separator">-</p>
    <p class="footer-item">2024</p>
    <p class="footer-item footer-item-separator">-</p>
    <p class="footer-item">Mentions légales</p>
    <p class="footer-item footer-item-separator">-</p>
    <p class="footer-item">Tous droits réservés</p>
</footer>