{% extends 'base.html.twig' %}

{% block title %}Ajouter un trick{% endblock %}

{% block body %}

{{ form_start(form) }}
<h1 class="form-title">Ajouter un trick</h1>
{{ form_widget(form) }}
<button type="submit" class="form-submit">Submit</button>
{{ form_end(form) }}

{% endblock %}
