{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

<div class="">
    <h1>Edit user</h1>
    <div class="">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {% set image = 'uploads/images/' ~ user.image %}
        <img src="{{ asset(image) }}"/>
        <button type="submit" class="">Submit</button>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
