{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}

{{ form_start(form) }}
<h1 class="form-title">Modification du profil</h1>
{{ form_widget(form) }}
<img class="user-profil-pic" src="{{ asset(user.image, 'images') }}"/>
<button type="submit" class="form-submit">Envoyer</button>
{{ form_end(form) }}

{% endblock %}
